# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "Cosmetic.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,12,192
 PRODUCTVERSION 0,12,192
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x29L
#else
 FILEFLAGS 0x28L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080403a8"
        BEGIN
            VALUE "Comments", "comment"
            VALUE "CompanyName", "SeaShore Software(思索软件)"
            VALUE "FileDescription", "Cosmetic美容美发业运营系统"
            VALUE "FileVersion", "0.12.192"
            VALUE "InternalName", "Cosmetic_svn192_20090518.12:27:34"
            VALUE "LegalCopyright", "Copyright (C) 2009 SeaShore Software"
            VALUE "LegalTrademarks", "Cosmetic (TM)"
            VALUE "OriginalFilename", "Cosmetic.exe"
            VALUE "PrivateBuild", "build_20090519.17:03:12"
            VALUE "ProductName", "Cosmetic"
            VALUE "ProductVersion", "0, 12, 192"
			VALUE "SpecialBuild", "Alpah Build"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 936
    END
END

