# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "Cosmetic.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,20,$WCREV$
 PRODUCTVERSION 0,20,$WCREV$
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x29L
#else
 FILEFLAGS 0x28L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080403a8"
        BEGIN
            VALUE "Comments", "comment"
            VALUE "CompanyName", "SeaShore Software"
            VALUE "FileDescription", "Cosmetic Management System"
            VALUE "FileVersion", "0.20.$WCREV$"
            VALUE "InternalName", "Cosmetic_svn$WCREV$_$WCDATE=%Y%m%d.%H:%M:%S$"
            VALUE "LegalCopyright", "Copyright (C) 2009 SeaShore Software"
            VALUE "LegalTrademarks", "Cosmetic (TM)"
            VALUE "OriginalFilename", "Cosmetic.exe"
            VALUE "PrivateBuild", "build_$WCNOW=%Y%m%d.%H:%M:%S$"
            VALUE "ProductName", "Cosmetic"
            VALUE "ProductVersion", "0, 20, $WCREV$"
			VALUE "SpecialBuild", "Alpah Build"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 936
    END
END

